@model ModeloDispositivo

@{
    ViewData["Title"] = "Editar Modelo de Dispositivo";
}

<h2>Editar Modelo de Dispositivo</h2>
<h5>Los cambios aquí realizados se reflejarán en los modelos de dispositivo relacionados.</h5>



<form asp-action="Editar">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Marca" class="form-label"></label>
        <input asp-for="Marca" class="form-control" />
        <span asp-validation-for="Marca" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Modelo" class="form-label"></label>
        <input asp-for="Modelo" class="form-control" />
        <span asp-validation-for="Modelo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TipoDispositivoId" class="form-label"></label>
        <select asp-for="TipoDispositivoId" asp-items="@(new SelectList(@ViewBag.SelectTiposDispositivos,"Id","Titulo"))" class="form-select"></select>
        <span asp-validation-for="TipoDispositivoId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TecnicoId" class="form-label"></label>
        <select asp-for="TecnicoId" asp-items="@(new SelectList(@ViewBag.SelectTecnicos,"Id","NombreEmpresa"))" class="form-select"></select>
        <span asp-validation-for="TecnicoId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Descripcion" class="form-label"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Guardar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}