@{
    ViewData["Title"] = "Registrado";
    Layout = "../shared/_Layout";
}



<div class="card text-center">
    <div class="card-header">
        <h2>Usuario Registrado Correctamente</h2>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <h3>La cuenta debe ser activada por un administrador,<br /> contacte con el departamento de Sistemas</h3>
        </div>

        <!-- Botón Volver a Login -->
        <a class="btn btn-secondary" asp-action="login">Volver a Inicio de Sesión</a>
    </div>
</div>