@{
    ViewData["Title"] = "Contraseña Cambiada.";
}


<div class="card text-center">
    <div class="card-header">
        <h2>Contraseña Restablecida.</h2>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <h3>La contraseña ha sido cambiada correctamente, puede dirigirse al Inicio para comenzar.</h3>
        </div>

        <!-- Botón Volver a Login -->
        <a class="btn btn-secondary" asp-action="login">Volver a inicio</a>
    </div>
</div>