@model PasswordOlvidadoModel

@{
    ViewData["Title"] = "Solicitar Cambio Contraseña";
}

<h2>Solicitar Cambio Contraseña:</h2>

<div class="card">
    <div class="card-body">
        <form asp-action="PasswordOlvidado">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Botón Solicitar Nueva Contraseña -->
            <input type="submit" value="Solicitar nueva contraseña" class="btn btn-success" />

            <!-- Botón Login con Usuario Existente -->
            <a class="btn btn-secondary" asp-action="login">Inicio de sesión</a>
        </form>
    </div>
</div>


<!-- Script necesario para las validaciones -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
