@model ReiniciarPasswordModel

@{
    ViewData["Title"] = "Reiniciar Contraseña"; // Muestra /Registro en la barra de URL
}

<!-- Parte Visual del Formulario de Registro de Usuario -->

<h2>Restablecer Contraseña</h2>

<div class="card">
    <div class="card-body">
        <form asp-action="ReiniciarPassword">
            <!-- Para añadir la validación a la vista -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Contraseña -->
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- Validar Contraseña -->
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />

            <!-- Botón Registrar Usuario -->
            <input type="submit" value="Confirmar cambio" class="btn btn-success" />

            <!-- Botón Login con Usuario Existente -->
            <a class="btn btn-secondary" asp-action="login">Volver a inicio</a>

        </form>
    </div>
</div>

<!-- Script necesario para las validaciones -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}